html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.hidden {
    display: none;
}

body {
    width: 100%;
    max-width: 1200px;
    /* margin: 0; */
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

header, main, footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


h1 {
    margin-bottom: 2px;
    text-align: center;
}

h2 {
    margin-top: 0;
    text-align: center;
}

.input-styles, #poets {
    display: block;
}

.input-styles {
    margin: 20px 0;
}

.input-button-styles {
    background-color: gray;
    color: white;
    width: 300px;
    padding: 10px 0;
    margin: 20px 0;
}

#poets {
    width: 300px;
    padding: 10px 5px;
    margin: 5px 0;
}

.instructions {
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

button {
    cursor: pointer;
}

.predefined-select-box-styles {
    margin: 10px 0;
    width: 300px;
}

.searches-collapsible, .searches-active {
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    /* max-width: 400px; */
    border: none;
    text-align: left;
    outline: none;
    font-size: .9em;
    margin: 10px 0;
}

.searches-collapsible:hover {
    background-color: darkgray;
}

.searches-collapsible:after, .searches-active:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: .9em;
    color: white;
    float: right;
    margin-left: 5px;
}

.searches-active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.collapsible-content {
    padding: 0 15px;
    overflow: hidden;
    /* background-color: lightgray; */
    width: 90%;
    max-width: 400px;
}

ul {
    list-style-type: none;
    padding-left: 2px;
}

.search-categories {
    font-weight: bold;
}

.individual-searches {
    padding: 5px 0 5px 15px;
}

.individual-searches li {
    line-height: 1.5em;
    font-weight: normal;
}

.error-styles {
    padding: 20px 10px 5px 10px;
}

.poet-list-styles {
    padding: 0 10px;
}

#poet-list {
    margin-top: 10px;
}

.getting-data-styles {
    font-weight: bold;
    color: red;
    margin: 30px;
}


/* HighCharts styles */
.charts-style {
    padding: 10px;
    margin: 0 0 30px 0; 
    border: 1px solid gray;
}



.line-indented {
    padding-left: 25px;
}

.poem-viewer-menu-styles, .button-container-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.poem-viewer-menu-styles li {
    width: 33.3%;
}  

.next-li {
    text-align: right;
}

.previous-style {
    text-align: left;
}
.current-poem {
    text-align: center; 
}

.poem-viewer-menu-styles {
    margin-bottom: 40px;
    padding: 0 10px; 
}

.full-poem-styles {
    margin: 40px 0;
    padding: 0 10px;
}


.table-poem-button-styles {
    background-color: gray;
    color: white;
    width: 48%;
    padding: 10px 0;
    margin: 30px 0;
}

.poem-title-styles {
    font-weight: bold;
    margin-top: 10px;
    padding: 0 10px;
}

.poem-author-styles {
    font-style: italic;
    padding: 0 10px;
}

.previous-next-styles {
    background: none;
    border: none;
    text-decoration: underline;
    padding: 0px;
}

.inactive-button {
    cursor: default;
    text-decoration: none;
}

table {
    width: 100%;
    padding: 0 10px;
}

th, td {
    padding: 10px 10px;
    width: 33.3%;
}

.individual-poet-column-styles {
    width: 25%;
}

caption {
    margin: 30px 0;
}

.text-column-styles {
    text-align: left;
}

.number-column-styles {
    text-align: center;
}

/* Alternate row styling
Attribution: https://www.w3.org/Style/Examples/007/evenodd.en.html */
tr:nth-child(even) {
    background: white;
}

tr:nth-child(odd) {
    background: gray;
}


th {
    background: white;
}

.footer {
    margin-top: 15%;
    text-align: center;
}

.footer address {
    font-style: normal;

}

/* Responsive layout changes */

@media screen and (min-width: 750px) {
    
    h1, h2 {
        text-align: left;
    }

    .search-predefined-large-screen-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .search-poets-styles, .predefined-search-style {
        width: 48%;
    }

    .individual {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 30px;
        grid-auto-rows: minmax(50px, auto); 
        align-items: start;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;   
    }

    .button-container-style, table {
        grid-column: 1 / 3;
    }

}



  
